/.cache/
/custom.el
/.claude/
/.lsp-session-v1
/.mc-lists.el
/auto-save-list/
/bookmarks
/eln-cache/
/elpa/
/emacs.el
/eshell/
/projectile-bookmarks.eld
/projects
/recentf
/session.*
/smex-items
/tramp
/transient/
/tree-sitter/
/var/
