.mc-lists.el
ac-comphist.dat
bookmarks
emacs_config.el
eshell/history
eshell/lastdir
ido.last*
projectile-bookmarks.eld
projectile.cache
recentf
smex-items

.python-environments/
auto-save-list/
elpa/
url/
/tramp
